body{
    font-family: 'roboto' , 'sans-serif';
    margin:0;
    padding:0;
    height: 100vh;
    width: 100vw;
    display: flex;
  
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 15rem;
}

.header-links{
    display: flex;
    justify-content: space-between;
}


.header .logo{
    font-size: 24px;
    color: #f9faf8;
    
    align-self: center;
}


.header-links .links{
    margin:0;
    
    display: flex;
    align-items: center;
    list-style-type: none;
    gap:15px

}

.links a{
    text-decoration: none;
}

.header-hero{
    margin-top:2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.header-hero-text{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: space-between;
    min-width: 300px;
    
    
   
}

.header-hero h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 0;
    margin-bottom:20px;

}

.header-hero p{
    margin-top:0;
    max-width: 400px;
}


.header-hero p, .header-links a{
    font-size: 18px;
    color: #E5E7EB;

}

.sign-up-btn{
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius:  .5rem ;
    border: none;
    padding: 5px 20px;
    max-width: 100px;
}

.header-hero img{
   
    background-color: #E5E7EB;
    flex-grow: 1;
    min-width: 300px;
    max-width: 500px;
    min-height: 200px;
    
   
}

@media (max-width:1280px ){
    .header-hero{
        justify-content: center;
    }
}