body {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;

}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 15rem;
}

.header-links {
    display: flex;
    justify-content: space-between;
}


.header .logo {
    font-size: 24px;
    color: #f9faf8;

    align-self: center;
}


.header-links .links {
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 15px
}

.links a {
    text-decoration: none;
}

.header-hero {
    margin-top: 7rem;
    margin-bottom: 7rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.header-hero-text {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: space-between;
    min-width: 300px;
}

.header-hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 0;
    margin-bottom: 20px;

}

.header-hero p {
    margin-top: 0;
    max-width: 400px;
}


.header-hero p,
.header-links a {
    font-size: 18px;
    color: #E5E7EB;

}

.sign-up-btn {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: .5rem;
    border: none;
    padding: 10px 20px;
    max-width: 120px;
    font-size: 18px;
    font-weight: 600;   
}

.header-hero img {

    background-color: #E5E7EB;
    flex-grow: 1;
    min-width: 300px;
    max-width: 500px;
    min-height: 200px;


}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 50px;
}

.content-group {
    display: flex;
   
    justify-content: center;
}

.item-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 10rem;
    padding: 0 25px;


}

.item {
    width: 10rem;
    height: 10rem;
    border: 3px solid #3882f6;
    border-radius: 10px;
    box-sizing: border-box;
    flex-shrink: 1;
}

.main-content h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 40px 0;
}

.quote-section{
    background-color: #E5E7EB;
    display: flex;
    
}

.quote-container{
    display: flex;
    flex-direction: column;
    padding: 5rem 20rem;
    
}


.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    
}

.quote-author{
    font-weight: bold;
    align-self: flex-end;
}

.cta{
    display: flex;
    justify-content: center;
    padding: 6rem 5rem;

}
.cta-container{
    background-color: #3882f6;
    display: flex;
    padding: 50px 100px;
    gap: 100px;
    border-radius: 10px;
}

.cta-text{
    display: flex;
    flex-direction: column;
}


.white, .footer{
    color: white;
}

.cta .title{
    font-weight: bold;
    font-size: 25px;
}

.cta .desc{
    font-size: 18px;
}



.cta-btn{
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 20px;
    min-width: 150px;
    max-height: 50px;
    align-self: center;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    
}

@media (max-width:1300px) {

    .header-hero,
    .header-links {
        justify-content: center;
    }
    
    .header-hero-text{
        align-items: center;
        text-align: center;
    }
}

@media (max-width:750px) {

    .content-group
     {
        flex-direction: column;
    }
}

@media (max-width:900px) {

    .quote-container
     {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}